*{ margin: 0; padding: 0; list-style: none;}

body{ background: #faf7f9; overflow-x: hidden;  background: url(../images/bj.jpg); }
.col-sm-12{margin-top: 1.875rem; }
.col-sm-12 img{ display: block; width: 11.008rem; height:4.875rem; margin: 0 auto;}

.form-horizontal{ text-align:center;}
form{ margin-top: 3rem;}

.jin{ float: left; margin-left: 2rem; line-height: 1.5rem; font-size: 0.9rem; color: #fff; }

.input-one:-webkit-input-placeholder{font-size: .3rem;}
.input-one{ width: 55%; height: 1.5rem;
text-indent: 10px; border: 0.05rem solid #269ABC; font-size: 0.8rem; border-radius: 0.2rem; margin-left: -0.8rem; }
.yanzheng{margin-top: .5rem;width: 83%;
margin-left: .5rem;
height: 2rem;
}

.two{  margin-top: 1rem;}
.two a{ width: 4rem; height: 1rem; display: block; float: left;font-size: 0.7rem;}
.two label{ width: 3rem; height: 1.5rem; border: 1px solid #000;}
.three{ margin-left: 5.3rem;}
.one{ width: 100%; margin-left: 0.1rem;}


#tu{
	box-shadow:0 0 2rem  green;
border-bottom-right-radius:1.2rem;
border-top-left-radius: 1.2rem;}

.zhanweiq{ height: 0.85rem; line-height: 0.85rem; }
.zhanweiq span{ float: left; margin-left: 0.5rem;}

.form-group{ margin-bottom: 0px;}
.btnn{  width: 75%; height: 1.5rem; font-size: 0.8rem; border-radius: 0.2rem; font-family: "微软雅黑"; color: red; box-shadow: 0.1rem solid red;}
.btnn a{ color: #fff;}
.bateiq{ width: 100%; height: 2.5rem; float: left; margin-top: 1.5rem;}
.neww{ font-size: 0.5rem; margin-left: -9rem; font-family: "微软雅黑"; color: #ccc; margin-top: 0.2rem;}
.pas{ margin-top: 0.3rem;}

.checkbox{ width: 7rem; height: 1rem; float: left; margin-top: 2rem;}
.checkbox input{ float: left;  margin-left: 0.5rem;}
.checkbox p{ width: 4.5rem; float: right; line-height: 0.7rem; margin-left: 0.1rem; color: #fff;}

.one s img{ position: absolute; float: left; margin-left: 7rem; margin-top: 0.7rem; width:0.5rem; height: 0.2rem;}

iframe{ width: 14rem; overflow: hidden;}
#iframe-wrap{ height:2rem;}
.btnn{ background:darkolivegreen;}
