.li2{
	width: 100%; height: 100%;
	 background: #ccc;
}
.nav2{
    
	width: 100%;
	position: relative;
	color: #fff;
	float: left;
	margin-left: 1.5rem;
}
.nav2 input{
	width: 80%;
	height: 1rem;
	float: left;
	    color: #000;
	clear: both;
}
.pip{
	clear: both;
    width: 3rem;
    height: 1rem;
	float: left;
	line-height:1.5rem;
}
.p2{
	float: left;
	line-height:1.5rem;
}
.p2 input{
	outline: none;
	width: 0.5rem;
	height: 0.5rem;
	float: left;
	margin-top: 0.5rem;
	margin-right: 0.2rem;
    color: #000;
	
}
.btn2{
      color:#fff;
	clear: both;
	float: left;
	margin-left:1rem;
}
.inp{
	width: 100%;
	float: left;	
}

	.bottopm{
		
		width: 20%;
		height: 5rem;
	
		
		text-align: center;
		
		line-height: 1rem;
		margin-left: 5rem;
	}

	.sca{
		position:fixed;
		color: #fff;
		right: 1.5rem;
		bottom: 0.5rem;
	}

