.nav2{

	width: 100%;
	position: relative;
	color: #fff;
	float: left;
}
.nav2 input{
	width: 80%;
	height: 1rem;
	float: left;
	clear: both;
}
.pip{
	clear: both;
    width: 3rem;
    height: 1rem;
	float: left;
	line-height:1.5rem;
}
.p2{
	float: left;
	line-height:1.5rem;
}
.p2 input{
	outline: none;
	width: 0.5rem;
	height: 0.5rem;
	float: left;
	margin-top: 0.5rem;
	margin-right: 0.2rem;

	
}
.btn2{
      color:#fff;
	clear: both;
	float: left;
}
.inp{
	width: 100%;
	float: left;	
}

	.bottopm{
		
		width: 20%;
		height: 5rem;
	
		
		text-align: center;
		
		line-height: 1rem;
		margin: 0 auto;
	}
	
	