
*{ margin: 0; padding: 0; list-style: none;}

body{ background: #faf7f9; overflow-x: hidden;}
.col-sm-12{margin-top: 1.875rem;}
.col-sm-12 img{ display: block; width: 11.008rem; height:4.875rem; margin: 0 auto;}

.form-horizontal{ text-align:center;}
form{ margin-top: 0.8rem;}

.i{ float: left; margin-left: 2.5rem; line-height: 1.5rem; font-size: 0.7rem; width: 4rem;text-align: left; color: #fff;}


.input-one_n{ width: 50%; height: 1.5rem; border: 0.05rem solid #269ABC; font-size: 0.8rem; border-radius: 0.2rem;margin-left: -40px; }


.two{  margin-top: 1rem;}
.two a{ width: 4rem; height: 1rem; display: block; float: left;font-size: 0.7rem;}
.two label{ width: 3rem; height: 1.5rem; border: 1px solid #000;}
.three{ margin-left: 5.3rem;}
.one{ width: 100%; margin-left: 0.1rem;}
#div1{
			width: 11.5rem;
			height: 1rem;
			line-height: 1rem;
			margin: 0 auto;
	}

#name{
	width: 3rem;
	height: 1.5rem;
	float: left;
	padding: 0;
	margin: 0;
	outline: none;
	}
	#tuu{
	box-shadow:0 0 2rem  green;
border-bottom-right-radius:1.2rem;
border-top-left-radius: 1.2rem;}
#changeImg{
	width: 4rem;
	height: 1rem;
	color: red;
	line-height: 1rem;
	
	margin-left: 1.0rem;
	margin-right: 0.375rem;
	
	font-size: 0.5rem;
}
#zw{  font-family: "微软雅黑"; color: red; font-size: 0.5rem;margin-left: -1rem;}
#zww{  font-family: "微软雅黑"; color: red; font-size: 0.5rem;margin-left: -1rem;}
#zwww{  font-family: "微软雅黑"; color: red; font-size: 0.5rem;margin-left: -1rem;}
.zhanwei{ height: 0.85rem; line-height: 0.85rem; }
.form-group{ margin-bottom: 0px;}
.btns{  width: 75%; height: 1.5rem; font-size: 0.8rem; border-radius: 0.2rem; font-family: "微软雅黑";}
.batei{ width: 100%; height: 5rem; float: left; margin-top: 1.5rem;}
.new{ font-size: 0.5rem; margin-left: -9rem; font-family: "微软雅黑"; color: #269ABC; margin-top: 0.2rem;}
.pas{ margin-top: 0.3rem;}
.yan{ margin-top: -0.6rem;}
.checkbox{ width: 7rem; height: 1rem; float: left; margin-top: 2rem;}
.checkbox input{ float: left;  margin-left: 0.5rem;}
.checkbox p{ width: 5rem; float: right; line-height: 0.7rem; margin-left: 0.1rem;}
.code{

font-family:Arial,宋体;
font-style:italic;
color:green;
border:0;
padding:2px 3px;
letter-spacing:3px;
font-weight:bolder;
display: none;
}
.unchanged {
border:0;
}
#checkCode{ width: 3.5rem;
	       height: 1.4rem;
			float: left;
           background: url(../images/yan.jpg);
           background-size: 100%;
           color: #fff;
			margin-left: 1.275rem; }
#look{ color: #fff; font-size: 0.5rem; margin-left: 1.1rem;}