<div class="li" ng-controller="li">
   <div ng-repeat="x in data.option" class="nav">
     <p>问题{{$index+1}}</p>
     <input type="text" placeholder="Enter email" ng-model="x.title" />
  
         <p class="p">问题类型</p>
         <p class="p2">
         	 <input type="radio" ng-model="x.type" value="2"/>填空
       												
         </p>
         <p class="p2">
         	 <input type="radio" ng-model="x.type" value="1"/>多选
         </p>
         <p class="p2">
         	 <input type="radio" ng-model="x.type" value="0"/>单选
         </p>
         <p class="p2">
         	 <input type="radio" ng-model="x.type" value="3"/>简答
         </p>
            <div class="inp" ng-show = "x.type == 2||x.type == 0">
                <p><input type="text" placeholder="请输入"/>删除</p>
            </div>
            <div class="inp" ng-show = "x.type == 3||x.type == 1">
                <p><input type="text" placeholder="请输入"/>删除</p>
                <p><input type="text" placeholder="请输入"/>删除</p>
                <p><input type="text" placeholder="请输入"/>删除</p>
            </div>
         </div>
 <div class="btn" class="btn btn-default glyphicon glyphicon-plus" ng-click="add()">
      +   	
</div>
        <div class="bottopm">添加问题</div>
</div>
